<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OneTwo</title>
    <style type="text/css">
       .tempPage {
          height: 100vh;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
       .tempTitle {
          font-size: 40px;
        }
        .tempDescription {
          text-align: center;
          color: #4791d1;
        }
    </style>
</head>
    <body>
        <div class='tempPage'>
         <div>
            <h1 class='tempTitle'>Добро пожаловать в OneTwoOnline</h1>
            <p class='tempDescription'>
                <a href="https://mr0netwo.github.io/onetwoservice-react/">Перейди по ссылки для авторизации</a>
            </p>

         </div>
      </div>
    </body>
</html>